body {
    background-color: #4c35e0;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.header div {
    flex: 1;
    max-width: 400px;
}

.small-text {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.big-text {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 900;
}

.pricing-plan {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}

.table {
    border-radius: 10px;
    text-align: center;
    padding: 20px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.table > * {
    color: #4c35e0;
}

.first {
    width: 250px;
    height: 350px;
    background-color: #fff;
    align-self: flex-end;
}

#no-padding-top {
    padding-top: 0;
    padding-bottom: 40px;
}

.second {
    width: 250px;
    height: 430px;
    background-color: #fff;
}

.third {
    width: 250px;
    height: 350px;
    background-color: #fff;
    align-self: flex-end;
}

.plan-banner {
    padding: 0 30px;
    background-color: #fee3d4;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Nimbus Sans T Bold Condensed";
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    height: 50px;
    display: flex;
    align-items: center;
}

.plan-title {
    color: #e3bc5f;
    font-weight: 900;
    font-size: 1.5rem;
}

.plan-price {
    font-weight: 900;
    font-size: 1.5rem;
}

.plan-button {
    text-decoration: underline;
    font-weight: bold;
}

#special-button {
    background-color: #4c35e0;
    color: #fff;
    padding: 10px 40px;
}

span {
    font-size: 3rem;
}

img {
    width: 50px;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
    margin-top: 10px;
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .small-text {
        letter-spacing: 2px;
    }

    .big-text {
        font-size: 2rem;
        font-weight: 900;
    }

    .pricing-plan {
        gap: 20px;
        margin: 0 auto;
        padding: 10px;
    }

    .first {
        width: 200px;
        height: 300px;
    }
    
    .second {
        width: 200px;
        height: 390px;
    }
    
    .third {
        width: 200px;
        height: 300px;
    }

    .plan-banner {
        padding: 0 30px;
        font-weight: 900;
        font-size: 1.2rem;
        letter-spacing: 1.5px;
        height: 40px;
    }

    .plan-title {
        color: #e3bc5f;
        font-weight: 900;
        font-size: 1.2rem;
    }
    
    .plan-price {
        font-size: 1.5rem;
    }

    span {
        font-size: 2rem;
    }

    .plan-button {
        font-size: 0.8rem;
    }

    li {
        margin-top: 5px;
        font-size: 0.8rem;
    }
}

@media (min-width: 750px) and (max-width: 999px) {
    .small-text {
        letter-spacing: 1px;
    }

    .big-text {
        font-size: 1.5rem;
        font-weight: 900;
    }

    .pricing-plan {
        gap: 20px;
        margin: 0 auto;
        padding: 10px;
    }

    .first {
        width: 150px;
        height: 200px;
    }
    
    #no-padding-top {
        padding-top: 0;
    }
    
    .second {
        width: 150px;
        height: 290px;
    }
    
    .third {
        width: 150px;
        height: 200px;
    }

    .plan-banner {
        padding: 0 20px;
        font-size: 0.9rem;
        height: 40px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .plan-title {
        color: #e3bc5f;
        font-weight: 900;
        font-size: 1rem;
    }
    
    .plan-price {
        font-size: 1rem;
    }

    span {
        font-size: 1.5rem;
    }

    .plan-button {
        font-size: 0.6rem;
    }

    img {
        width: 30px;
    }

    li {
        margin-top: 5px;
        font-size: 0.6rem;
    }
}

@media (min-width: 400px) and (max-width: 749px) {
    .pricing-plan {
        position: relative;
        top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        max-width: 900px;
        margin: 0 auto;
        padding: 10px;
    }

    .first {
        width: 350px;
        height: 350px;
        align-self: center;
    }
    
    .second {
        width: 350px;
        height: 430px;
    }

    .third {
        width: 350px;
        height: 350px;
        background-color: #fff;
        align-self: center;
    }

    .plan-banner {
        padding: 5px 30px;
        background-color: #fee3d4;
        width: fit-content;
        text-transform: uppercase;
        font-weight: 900;
        font-family: "Nimbus Sans T Bold Condensed";
        font-size: 1.5rem;
        letter-spacing: 1.5px;
        height: 50px;
        display: flex;
        align-items: center;
    }

    img {
        padding-top: 10px;
    }
}